
/* values: {
  xs: 0,
  sm: 640,
  md: 768,
  lg: 1024,
  xl: 1280,
  '2xl': 1536, */


@font-face {
    font-family: Gilroy;
    src: url("./font/gilroy/Gilroy-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: Gilroy;
    src: url("./font/gilroy/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: Gilroy;
    src: url("./font/gilroy/Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: Gilroy;
    src: url("./font/gilroy/Gilroy-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: Gilroy;
    src: url("./font/gilroy/Gilroy-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: DMsans;
    src: url("./font/DMSans/DMSans-VariableFont_opsz\,wght.ttf")
      format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: Inter;
    src: url("./font/inter/Inter_18pt-ExtraLight.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: Inter;
    src: url("./font/inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  
  .font-gilroy {
    font-family: Gilroy, sans-serif;
  }
  
  .font-dmsans {
    font-family: DMsans, sans-serif;
  }
  
  .font-inter {
    font-family: Inter, sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Mobile Menu Overlay */
  .mobile-menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.8);
    z-index: 1000;
  }
  
  .layout-menu {
    position: relative;
    background-color: var(--white-bg);
    width: 280px;
    height: 100%;
    border-radius: 0 0 20px 0;
    padding: 16px;
    font-weight: 600;
  }
  
  .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--dark-gray);
  }
  
  

  /* <-------- */
  .text-container {
    padding: 50px 0 0 0;
  }
  .text-ct2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 389px;
    height: 52px;
    font-size: 42px;
    color: var(--dark-gray-01);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1px;
  }
  
  .product-carousel-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    /* position: relative;
    z-index: 1; */
  }
  .products-container {
    max-width: 1198px;
    margin: 0 auto;
   
    width: 100%;
    /* Prevent children from being cut off on small screens */
    box-sizing: border-box;
  }
  .products {
    display: flex;
    position: relative;
    /* max-width: 1280px; */
  
    /* width: 100%; */
    height: auto;
    /* scroll-behavior: smooth; */
  
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    /* overflow-x: scroll; */
    -ms-overflow-style: none;
    padding: 20px 0 10px 0;
    margin: 0 -20px;
    flex-wrap: nowrap;
    z-index: 1;
  }
  .products::-webkit-scrollbar {
    display: none;
  }
  
  .scroll-container {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
  }
  
  .scroll-item {
    scroll-snap-align: start;
  }
  
  .product-info {
    position: relative;
    border-radius: 0 50px 50px 0;
    padding: 10px 21.33px 10px 21.33px;
  }
  .nav-btn-prev-btn {
    position: absolute;
    top: 279px;
    left: -25px;
    transform: translateY(-50%);
    background-color: var(--white-bg);
    border: none;
    border-radius: 26.09px;
    padding: 11.96px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    filter: drop-shadow(0 7.03px 19.53px rgba(0, 0, 0, 0.06));
    z-index: 10; /* Above the testimonial cards */
  }
  
  .nav-btn-line-btn {
    position: absolute;
    top: 279px;
    right: -25px;
    transform: translateY(-50%);
    background-color: var(--white-bg);
    border: none;
    border-radius: 26.09px;
    padding: 11.96px;
    gap: 10.87px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    filter: drop-shadow(0 7.03px 19.53px rgba(0, 0, 0, 0.06));
    z-index: 10;
  }
  @media (max-width: 1250px) {
    .nav-btn-prev-btn {
     
      left: 13px;
    }
    .nav-btn-line-btn { 
   
      right: 13px;
    }
  }
  @media (max-width: 1024px) {
    .nav-btn-prev-btn {
      display: none !important;
      left: 13px;
    }
    .nav-btn-line-btn { 
      display: none !important;
      right: 13px;
    }
  }
  .product-carousel button i {
    font-size: 18px;
    color: var(--white-bg);
    justify-content: center;
    display: flex;
    transition: color 0.3s;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .filter-tabs {
    display: flex;
    background-color: var(--pale-border-1);
    border-radius: 99px;
    padding: 4px;
    max-width: 348px;
    height: 57px;
    margin: 32px auto 50px;
  }
  
  .filter-btn {
    width: 84px;
    height: 45px;
    border-radius: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: var(--dark-gray);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .filter-btn.active {
    width: 84px;
    height: 45px;
    padding: 2px;
    margin: 2px auto;
    background-color: var(--white-bg);
    color: var(--dark-gray);
  }
  
  /* Product carousel */
  /* .product-carousel-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 30px;
    position: relative;
  } */
  .product-carousel {
    display: flex;
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  
  .nav-btn {
    position: absolute;
    background-color: var(--white-bg);
    border: none;
    border-radius: 26.09px;
    padding: 11.96px;
    gap: 10.87px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    filter: drop-shadow(0 7.03px 19.53px rgba(0, 0, 0, 0.06));
    z-index: 10;
  }
  
  .products::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  /* Product card */
  .product-card-container {
    position: relative;
    /* max-width: 382px; */
    /* margin-right: 42px; */
    padding: 0 21px;
  }
  .product-card {
    /* width: 100%;
    min-width: 268px; */
    min-width: 268px;
    height: 100%;
    margin: 0 auto;
    max-height: 441.73px;
    scroll-snap-align: start;
    background-color: var(--white-bg);
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 2;
    /* margin-right: 42px; */
  }
  /* .product-card:last-child {
    margin-right: 0;
  } */
  
  /* .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px var(--dark-gray-01);
  } */
  
  .product-image {
    bottom-top: 0;
    height: 239px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--white-border-50);
    /* border: 1px solid var(--white-border-60); */
  }
  
  .chair-img {
    display: block;
    /* margin-top: -50px; */
    top: -50px;
    /* height: 255.9010467529297px;
    width: 217.89599609375px; */
    max-width: 217.89599609375px;
    width: 100%;
    max-height: 255.9010467529297px;
    height: auto;
    object-fit: contain;
    position: relative;
    z-index: 1;
  }
  
  .category {
    width: 42.65px;
    height: 19.8px;
    color: var(--text-inter);
    font-size: 16.76px;
    line-height: 100%;
    display: block;
    margin-top: 3.76px;
    margin-bottom: 6.09px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
  
  .product-name {
    height: 25.89px;
    font-size: 21.33px;
    margin-bottom: 6.09px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: var(--text-pc);
    line-height: 100%;
  }
  
  .rating {
    display: flex;
    margin-bottom: 15px;
    color: var(--yellow-primary);
  }
  @media (max-width: 1200px) {
    .rating {
      margin: 20px 0 0 0;
    }
  }
  .star-rating {
    height: 18.28px;
    width: 18.28px;
    align-items: center;
    text-align: center;
  }
  .star-rating img {
    height: 14.471691131591797px;
    width: 15.234199523925781px;
  }
  
  .price-cart {
    width: 100%;
    height: auto;
    display: flex;
    background-color: var(--white-bg);
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 20px;
  }
  
  .price img {
    width: 10.66px;
    height: 18.28px;
    top: 50%;
    margin-right: 4px;
  }
  
  .price {
    font-size: 21.3px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: var(--text-pc);
  }
  
  .add-to-cart {
    width: 48.74px;
    height: 48.74px;
    border-radius: 50%;
    background-color: var(--dark-gray-1);
    color: var(--white-border-01);
    border: none;
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .img-pc {
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
  .img-plus {
    height: 24.37px;
    width: 24.37px;
  }
  
  .view-all {
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 71px;
    padding-bottom: 66px;
    width: 123px;
    height: 33px;
    gap: 16.5px;
  }
  
  .view-all a {
    width: 63px;
    height: 33px;
    color: var(--orange-primary);
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    line-height: 185%;
    align-items: center;
    transition: color 0.3s ease;
  }
  .more-info-all-all {
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 37.5px;
    height: 10.8px;
  }
  
  .view-all .material-symbols-outlined {
    margin-left: 5px;
  }